*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#contenedor{
    color: green;
    width: 70%;
    padding: 1em;
    border: 2px solid black;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
}
#post{
    color: red;
    background-color: beige;
    font-size: 15px;
    border: 2px solid blue;
}
#cabecera{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border: 2px solid black;
    color: orange;
}